.busCardList {
  /* display: flex;
  flex-wrap: wrap; */
  /* align-content: space-between; */
}

.busCard {
  background-color: #fff8;
  border: 1px solid navy;
  border-radius: 5px;
  padding: 24px;
  margin: 10px;
  /* max-width: 180px; */
  display: flex;
}

.busCard .busCardImg {
  /* align-self: center; */
  margin-right: 24px;
}

.busLocation {
  font-size: smaller;
  color: darkslategrey;
}