html, body, .root {
  width: 100vw;
  height: 100vw;
  border: 0 0;
  margin: 0 0;

  /* align-content: center; */
  
  font-family: Arial, Helvetica, sans-serif;
}
.root {
  padding: 10px 10px;
}

body {
  background-color: cadetblue;
}

a {
  text-decoration: none;
}
a:visited {
  color: navy;
}
a:active {
  color: navy;
  font-weight: bold;
}

.navbar {
  border-bottom: solid 1px gray;
  width: 100%;
  background: rgba(255, 255, 255, 0.4);
  display: flex;
  /* flex-direction: row; */
  align-content: space-between;
  position: sticky;
  z-index: 2;
}

@font-face {
  font-family: 'RockoFLF-Bold';
  src:url('../../static/font/RockoFLF-Bold.ttf.woff') format('woff'),
  url('../../static/font/RockoFLF-Bold.ttf.svg#RockoFLF-Bold') format('svg'),
  url('../../static/font/RockoFLF-Bold.ttf.eot'),
  url('../../static/font/RockoFLF-Bold.ttf.eot?#iefix') format('embedded-opentype'); 
  font-weight: normal;
  font-style: normal;
}

.logo {
  font-size: 2em;
  /* font-weight: bold; */
  font-family: 'RockoFLF-Bold';
  color: black;
  text-decoration: none;
  /* -webkit-text-stroke: 2px white;
  -webkit-text-fill-color: black;
  paint-order: stroke fill; */
  text-shadow: 0 0 3px white;
  margin: 10px 10px;
  /* text-shadow: 1px 1px 0 #fff,
  -1px 1px 0 #fff,
  1px -1px 0 #fff,
  -1px -1px 0 #fff,
  0px 1px 0 #fff,
  0px -1px 0 #fff,
  -1px 0px 0 #fff,
  1px 0px 0 #fff,
  2px 2px 0 #fff,
  -2px 2px 0 #fff,
  2px -2px 0 #fff,
  -2px -2px 0 #fff,
  0px 2px 0 #fff,
  0px -2px 0 #fff,
  -2px 0px 0 #fff,
  2px 0px 0 #fff,
  1px 2px 0 #fff,
  -1px 2px 0 #fff,
  1px -2px 0 #fff,
  -1px -2px 0 #fff,
  2px 1px 0 #fff,
  -2px 1px 0 #fff,
  2px -1px 0 #fff,
  -2px -1px 0 #fff; */

  width: 120px;
}
.logo a, .logo a:visited, .logo a:active {
  color:black;
}

.sessionLinks {
  float: right;
  position: absolute;
  right: 10px;
}

.sessionLinksDiv ul {
  float: right;
  width: 100%;
  background-color: #dddb;
  border: solid 1px #ddd;
  border-radius: 4px;
  /* padding: 8px 8px; */
}

.navbar > ul {
  /* width: 1fr; */
  /* width: 100vw; */
  padding: 0 0;
  list-style-type: none;
  display: flex;
  /* align-content: space-between; */
}

.sessionLinksDiv ul {
  padding: 0 0;
}
.sessionLinksDiv > button {
  height: 3em;
  width: 3em;
  background-color: #0000;
  border: solid 2px navy;
  border-radius: 3px;
}

.navbar ul li {
  width: auto;
  list-style: none;
  /* display: flex; */
  /* align-content: space-between; */
}

a.active {
  font-weight: bold;
}

.contentBox {
  /* width: 80vw; */
  margin: 1em 10vw 0 10vw;
}